tqdm
docopt
python-dotenv
joblib

jupyterlab

pandas
numpy
scipy
xlrd
XlsxWriter

matplotlib
seaborn
Pillow
opencv-python
scikit-image

requests
#beautifulsoup4
#lxml
#selenium

#Flask
#Django

PyMySQL
SQLAlchemy
psycopg2-binary
